#main-nav {
    width: 100%;
    height: 80px;
    background: #01ADDD;
    font:13px Verdana;
    margin-bottom: 20px;
}

#main-nav .subnav {
    display: none;
    position: absolute;
    top: 78px;
    width: 173px;
    list-style-type: none;
    background: #fff;
    margin: 0;
    z-index:5;
    left: 50%;
    margin-left: -80px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    padding: 10px 0;
}

#main-nav .subnav li {
    text-align: left;
    float: left;
    width: 153px;
    padding: 10px 0 10px 15px;
    margin: 0 10px;
    border-radius: 4px;
}

#main-nav .subnav li a {
    color: #01ADDD;
    height: 0;
    line-height:0;
}

#main-nav .subnav li:hover {
    background:#01ADDD;
}

#main-nav .subnav li:hover a {
    color:#FFF;
}

#main-nav ul > li {
    display: inline-block;
}

.subnav > li > a {
    text-decoration:none;
}

#nav-primary {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    height: 100%;
    width: 90%;
}

#nav-primary > li {
    float: left;
    position: relative;
    height:100%;
    /*margin: 0 20px;*/
    padding: 0 20px;
    /*width: 12.5%;*/
}

#nav-primary > li > a {
    float: left;
    color: white;
    text-align: center;
    padding-top: 19px;
    line-height: 40px;
    text-decoration:none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#nav-primary li a:hover {
    text-decoration: none;
}

#nav-primary li:hover .subnav {
    display: block;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}

.justified {
    width: 18.5%;
}

li.justified > a {
    line-height: 20px !important;
}